.C1
{
	background-color: grey;
	height: 50px;
	width: 300px;
	float: left;
	border-radius: 4px;
	border: 2px solid blue;
	margin-left: 50px;
	text-align: center;
}
.C2
{
	background-color: grey;
	height: 50px;
	width: 300px;
	float: left;
	border-radius: 4px;
	border: 2px solid blue;
	margin-left: 50px;
	text-align: center;
}

.C3
{
	background-color: grey;
	height: 50px;
	width: 300px;
	float: left;
	border-radius: 4px;
	border: 2px solid blue;
	margin-left: 50px;
	text-align: center;
}

