body
{
	background-color: black;
	text-align: center;
}
h1
{
	color: blue;
	font-family: verdana;
	font-size: 2em;
}
div
{
	border: 2px solid darkblue;
	border-radius: 26px;
	width: 18%;
	margin-left: 38%;
	margin-right: 50%;
	padding: 2%;
}
button
{
	border: 2px solid darkblue;
	border-radius: 26px;
	text-align: center;
	padding: 15px 32px;
	background-color: black;
	width: 150px;
	margin-top: 20px;
	color: darkblue;
}
button:hover
{
	background-color: darkblue;
	color: black;
	border: 2px solid black;
}
input
{
	border: 2px solid darkblue;
	border-radius: 26px;
	text-align: center;
	padding: 15px 32px;
	background-color: black;
	width: 230px;
	margin-top: 5px;
	color: darkblue;
}
